body{background-color: #FAF6E3 ;}

.header{
    text-align: center;
    font-family: "Oswald";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:#2A3663;
}
#navbar {
    display: flex;
    flex-wrap: wrap;
    background-color: #B59F78;
    height : 90px;
    height: max-content;
    
}
#navbar>a:link,#navbar>a:visited{
    position:inherit;
    display:flex;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    flex:1 0 19%;
    border: 1px solid black;
    font-size: 17px;
    color:black;
    text-decoration: none;  
    flex-direction: column;
    
}
/* remember to remove border on final product (border is for guideline) */
.itembox,.itembox-reverse{
    display:flex;
    flex-direction:row;
    height:800px;
    border:1px solid black;
}

.textbox{
    position: inherit;
    flex : 50%;

}   
img{
    width:75%;
    height:85%;
}
.textbox>p {
    padding: 0% 4% 0% 2%;
    font-size: 18px;
}