body{background-color: #FAF6E3 ;}

#navbar {
    display: flex;
    flex-wrap: wrap;
    background-color: #B59F78;
    height : 90px;
    height: max-content;
    
}
#navbar>a:link,#navbar>a:visited{
    position: inherit;
    border: 1px solid black;
    padding : 2% 5.7% 2% 5.55%;
    font-size: 17px;
    color:black;
    text-decoration: none;
    flex: 0 0 100px;
}

.product{
    display:flex;
    flex-direction:column;
    height:400px;
    border: 1px solid black;
}
