body{background-color: #FAF6E3 ;}

#navbar {
    display: flex;
    flex-wrap: wrap;
    background-color: #B59F78;
    height : 90px;
}
#navbar>a:link,#navbar>a:visited{
    display: flex;
    border: 1px solid black;
    padding-left: 93.5px;
    padding-right: 93.5px;
    padding-bottom: 25px;
    padding-top: 25px;
    font-size: 17px;
    color:black;
    text-decoration: none;
}

.product1{
    
}